{% extends 'base.html' %}
{% block content %}

<div class="text-center mt-5">
    <h1 class="fw-bold" style="color:#6b5e53;">
        Selamat Datang di Raccoon City
    </h1>

    <p class="text-muted">
        Laporkan masalah kotamu dengan mudah dan cepat
    </p>

    <div class="mt-4">
        <a href="/reports/" class="btn btn-primary btn-lg me-2">
            Lihat Laporan
        </a>

        <a href="/add/" class="btn btn-success btn-lg">
            + Tambah Laporan
        </a>
    </div>
</div>

{% endblock %}