<h1>Selamat Datang di Kota Raccoon</h1>
<p>Website laporan masalah kota</p>
<h1>Daftar Laporan</h1>

<a href="/add/">Tambah Laporan</a>
<a href="/">Home</a> |
<a href="/about/">About</a> |
<a href="/contacts/">Contact</a>

<hr>

{% for report in reports %}
    <div style="border:1px solid black; padding:10px; margin-bottom:10px;">
        
        <p><b>Judul:</b> {{ report.title }}</p>
        <p><b>Lokasi:</b> {{ report.location }}</p>
        <p><b>Status:</b> {{ report.status }}</p>
        <p><b>Deskripsi:</b> {{ report.description }}</p>

        <a href="/update/{{ report.id }}">Edit</a> |
        <a href="{% url 'delete_report' report.pk %}">Hapus</a> |

        {% if report.status == "REPORTED" %}
        <span>Belum Diverifikasi</span>

        {% elif report.status == "VERIFIED" %}
        <span>Sudah Diverifikasi</span>

        {% elif report.status == "IN PROGRESS" %}
        <span>Sedang Diproses</span>

        {% elif report.status == "RESOLVED" %}
        <span>Selesai</span>

        {% else %}
            <span> Sudah Diverifikasi</span>
        {% endif %}

    <p>
        {{ report.title }} - {{ report.status }}

        <a href="{% url 'report_detail' report.pk %}">Detail</a>
        <a href="/update/{{ report.id }}">Edit</a>
        <a href="{% url 'delete_report' report.pk %}">Hapus</a>

        <!-- WORKFLOW -->
        <form action="/update-status/{{ report.id }}/" method="POST">
            {% csrf_token %}
            <select name="status">
                <option value="REPORTED">Reported</option>
                <option value="VERIFIED">Verified</option>
                <option value="IN PROGRESS">In Progress</option>
                <option value="RESOLVED">Resolved</option>
            </select>
            <button type="submit">Ubah Status</button>
        </form>
    </p>
{% endfor %}