{% extends 'base.html' %}
{% block content %}

<!-- BREADCRUMB -->
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb" style="background-color:#e6dfd5; padding:10px; border-radius:10px;">
    <li class="breadcrumb-item">
        <a href="/" style="color:#6b5e53; text-decoration:none;">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/reports/" style="color:#6b5e53; text-decoration:none;">Reports</a>
    </li>
    <li class="breadcrumb-item active" style="color:#8b6f47;">
        Add
    </li>
  </ol>
</nav>

<h2 class="mb-4">Tambah Laporan</h2>

<form method="POST" onsubmit="return handleSubmit(this)">
{% csrf_token %}

{{ form.as_p }}

<!-- BUTTON -->
<button type="submit" class="btn btn-success d-inline-flex align-items-center gap-2" id="submitBtn">
    <span class="btn-text">Simpan</span>
    <span class="spinner-border spinner-border-sm d-none"></span>
</button>

<a href="{% url 'report_list' %}" class="btn btn-secondary">Kembali</a>

</form>

<!-- SCRIPT LOADING -->
<script>
function handleSubmit(form) {
    const btn = document.getElementById("submitBtn");

    // ubah teks
    btn.querySelector(".btn-text").innerText = "Menyimpan...";

    // tampilkan spinner
    btn.querySelector(".spinner-border").classList.remove("d-none");

    // disable tombol
    btn.disabled = true;

    return true;
}
</script>

{% endblock %}